
{% extends "base.html" %}

{% block title %}主页{% endblock %}

{% block main %}


    <main>

        <div class="container" style="margin-top: 25px">

            <div class="row" >

                <div class="col-12">
                    <p style="font-family:monospace;font-size: 30px;color: #377BA8">
                        注意,这是一个为爱发电项目。<br>
                        且用且珍惜。<br>
                        <br>
                        <br>

                        本人不保证项目稳定性。
                    </p>
                </div>

          </div>

        </div>

    </main>

{% endblock %}
