{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block main %}


    <main>

        <div class="container-fluid">

                <div class="container" style="margin-top: 5em">

                    <div class="row-cols-9">

                        <form action="{% url 'app1:register_url' %}" method="post">
                            {% csrf_token %}

                            {% if message %}
                                <h3 style="font-size: 35px;color: #9C1A1C">{{ message }}</h3>
                            {% endif %}
                            <h2>注册</h2>

                            <input class="form-control form-control-lg" type="text" placeholder="学习通账号" name="account" required>
                            <small class="text-muted">必填项,请用填写尔雅登录的手机号</small>
                            <input class="form-control form-control-lg" type="password" placeholder="学习通密码" name="password" required>
                            <small class="text-muted">必填项</small>
                            <input class="form-control form-control-lg" type="email" placeholder="你的邮箱" name="email" required>
                            <small class="text-muted">此邮箱用于向你发送通知</small>
                            <br>
                            <button type="submit" class="btn btn-primary mb-2">--提交--</button>
                        </form>

                    </div>

              </div>

        </div>

    </main>

{% endblock %}
